<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="BlockAll" path="*" verb="*" type="System.Web.HttpNotFoundHandler" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="DataProtectionKeys" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
